.schema-visualization {
    height: 100%;

    >.error-message {
        color: lightgray;
        font-family: @admin-font-family;
        font-size: 21px;
        line-height: 30px;
        position: relative;
        top: 50%;
        text-align: center;
        margin-top: -15px;
        .ellipsis();
    }

    .header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        background-color: @admin-bg-almost-white;
        border-bottom: 1px solid @admin-bg-light-gray;
        height: 25px;
        padding: 7.5px 15px;

        > .filter-wrapper {
            width: 20%;
            position: relative;
            background-color: white;
            border: 1px solid @admin-bg-light-gray;

            .filter-input {
                padding-left: 10px;
                width: calc(100% - 35px);
                height: 25px;
                outline: none;
                background-color: transparent;
                border: none;
            }

            .icon-close {
                color: lightgray;

                &:hover {
                    cursor: pointer;
                    color: gray;
                }
            }

            button {
                outline: none;
                width: 20px;
                position: absolute;
                right: 10px;
                top: 2.5px;
                background-color: transparent;
                border: none
            }
        }

        > .breadrcrumbs-wrapper {
            width: 60%;

            .breadcrumbs {
                display: flex;
                justify-content: center;

                span {
                    color: gray;

                    &:last-child {
                        color: black;

                        &:after {
                            content: '';
                        }
                    }

                    &:hover {
                        color: black;
                        cursor: pointer;
                    }

                    &:last-child:hover {
                        cursor: auto;
                    }

                    &:after {
                        content: '/';
                        margin: 0px 5px;
                    }
                }
            }
        }

        > .references-wrapper {
            width: 20%;

            .references-checkbox {
                display: flex;
                align-items: center;
                justify-content: end;
                
                input {
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: @form-button-bg-hover;
                    margin: 0px 5px;
                    outline: none;
        
                    &:checked {
                        background-color: @admin-button-blue1;
                    }

                    &:disabled {
                        background-color: @admin-bg-light-gray;
                        ~ label {
                            color: @admin-bg-light-gray;
                        }
                    }
        
                    &::before {
                        position: relative;
                        top: 4px;
                        left: 4px;
                        font-size: 12px;
                        color: white;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                label:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #SvgContainer {
        display: flex;
        height: 100%;
        flex-grow: 1;

        svg {
            font-family: Open Sans, Helvetica, sans-serif;
            max-width: 1000px;
            margin: 0 auto;
            display: block;
    
            * {
                transition: 0.15s;
            }
    
            g rect:first-child {
                opacity: 0;
            }
    
            g:hover, g.hover {
                cursor: pointer;
            }

            #central-node {
                text {
                    font-weight: bolder;
                }
                
                >*:not(g):hover {
                    cursor: auto;
                }
            }

            #texts-and-icons {
                g:hover text, g.hover text, g.filtered text{
                    font-weight: bolder;
                }

                g.filtered rect {
                    opacity: 0.7;
                }
            }
    
            .fade-in {
                opacity: 1;
                animation-name: fadeInOpacity;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: .3s;
            }
    
            @keyframes fadeInOpacity {
                0% {
                    opacity: 0;
                }
    
                100% {
                    opacity: 1;
                }
            }
        }
    }
}

._0-240 &,
._240-360 & {
    .schema-visualization {
        .header {
            flex-direction: column;
            height: auto;

            > div {
                width: 100% !important;
            }

            > .breadrcrumbs-wrapper {
                display: none;
            }

            > .references-wrapper {
                margin-top: 15px;
                justify-content: center;
            }
        }
    }
}
._360-540 &,
._540-720 & {
    .schema-visualization {
        .header {
        flex-wrap: wrap;
        height: auto;

            > .filter-wrapper {
                width: 70% !important;
                order: 1;
            }

            > .breadrcrumbs-wrapper {
                display: none;
            }

            > .references-wrapper {
                width: 29% !important;
                order: 2;
            }
        }
    }
}