.schema-visualization {
    height: 100%;

    .header {
        display: flex;
        justify-content: space-around;
        margin: 50px;
        flex-wrap: wrap;

        div {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 25px 0px;
        }

        div+#Breadcrumbs {
            width: 100%;
        }

        #Breadcrumbs {
            font-size: 24px;
        }
    }

    input[type=checkbox] {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        margin: 0px 5px;
    }

    svg {
        font-family: Open Sans, Helvetica, sans-serif;
        max-width: 1000px;
        margin: 0 auto;
        display: block;

        text:hover,
        image:hover,
        .clickable-group:hover {
            cursor: pointer;
        }

        #texts-and-icons text+text:hover {
            font-weight: bold;
        }

        .clickable-group {
            >* {
                transition: 0.15s;
            }

            &:hover text, &.hover text {
                fill: white;
            }

            rect {
                opacity: 0;
            }

            &:hover rect, &.hover rect {
                opacity: 0.7;
            }           

            image {
                filter: invert(0.5);
            }

            &:hover image, &.hover image {
                filter: invert(1);
            }
        }

        .fade-in {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: .3s;
        }

        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}