.model-tree-grid {
  .grid {
    .slick-row {
      .slick-cell-checkboxsel {
        display: none;
      }

      &.non-selectable {
        label {
          display: none;
        }
      }
    }

    .slick-cell {
      padding-left: 20px;
    }
  }

  .tree-grid-toolbar {
    .left-wrapper {
      display: none;
    }
  }

  .slick-cell:not(.slick-cell-checkboxsel) {
    flex-grow: 1;
  }

  .slick-cell.r1.slick-cell-checkboxsel {
    padding-right: 2px;
  }
}
